# 编译产物
build/
bin/
*.o
*.obj
*.a
*.so
*.dylib
*.exe
*.dll

# IDE / 编辑器
.vscode/
.idea/

# CMake 中间文件
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# 系统临时文件
*.log
*.tmp
.DS_Store
Thumbs.db
